
body {
    background: #6592CF;
}
  
.m{
    background:#060F55;
    position:absolute;
    width:140px;
    height:100px;
    right: 130px;
    top:150px;
    border-radius:0 0 200px 200px; 
}
.a, .b, .c, .d{
    background:#060F55;
    position:absolute;
    height:130px;
    top:50px;
    width:20px;
    border-radius:50px;
}
.a{
    right:130px;
}
.b{
    right:170px;
}
.c{
    right:210px;
}
.d{
    right:250px;
}
.a1, .a2, .a3{
    background:#6592CF;
    position:absolute;
    height:110px;
    top:50px;
    width:20px;
    border-radius:50px;
}
.a1{
    right:150px;
}
.a2{
    right:190px;
}
.a3{
    right:230px;
}
.p{
    background:#060F55;
    position:absolute;
    height:130px;
    bottom:0;
    width:20px;
    right:190px;
}