
  body{
    background:#F5D6B4;
  }
  .a,.b,.c,.d{
    position:absolute;
    background: #D86F45;
    border-radius:50%;
  }
  .a,.b {
    width:100;
    height:100;
    top:115;
    left:100;
  }
  .b{
    top:85;
    left:180;
  }
  .c,.d{
    width:50;
    height:50;
    top:165;
    left:250
  }
  .d{
    border-radius:5%;
    width:125;
    left:150;
  }