
body{
    background:#09042A;
}
.a,.b,.c,.d{
    position:absolute;
    border-radius:50%;
    width:60px;
    height:60px;
}
.a,.b{
    border:10px solid #E78481;
    top:110;
}
.a{
    left:100px;
}
.b{
    right:100px;
}
.c,.d{
    background:#F5BB9C;
    left:160px;
    border:10px solid #09042A;
}
.c{
    top:57px;
}
.d{
    bottom:57px;
}
.e{
    position:absolute;
    width:58px;
    height:80px;
    background:#E78481;
    top:95px;
    left:172px;
    z-index:-1;
}