
body{
    background:#F2F2B6;
}
.b {
    position:absolute;
    width: 00px;
    height: 00px;
    top:85px;
    left:60px;
    border-top:130px solid #FF6D00;
    border-left:75px solid transparent;
    border-right:75px solid transparent;
}
.a {
    position:absolute;
    width: 00px;
    height: 00px;
    top:85px;
    left: 80px;
    border-top:130px solid #FD4602;
    border-left:75px solid transparent;
    border-right:75px solid transparent;
}
.d {
    position:absolute;
    width: 00px;
    height: 00px;
    top:85px;
    left: 170px;
    border-bottom:130px solid #FD4602;
    border-left:75px solid transparent;
    border-right:75px solid transparent;
}
.c {
    position:absolute;
    width: 00px;
    height: 00px;
    top:85px;
    left: 190px;
    border-bottom:130px solid #FF6D00;
    border-left:75px solid transparent;
    border-right:75px solid transparent;
}