
body {
    background: #0B2429;
}
.a, .b, .c{
    position:absolute;
    width:150px;
    height:150px;
}
.a{
    background:#F3AC3C;
    right:75px;
    top:75px;
    border-radius: 100px 0;
}
.b{
    background:#998235;
    right:125px;
    top:75px;
    border-radius: 100px 0;
}
.c{
    background:#1A4341;
    right:175px;
    top:75px;
    border-radius: 100px 0;
}