
body {
    background: #62306D;
}
.a,.b,.c{
    background:#F7EC7D;
    position:absolute;
    bottom:0;
    width:100px;
    border-radius: 50px 50px 0 0;
}
.a{
    height:145px;
    right:50px;
}
.b{
    height:240px;
    right:150px;
}
.c{
    height:145px;
    right:250px;
}
.d,.e,.f{
    position:absolute;
    width:60px;
    height:60px;
    border-radius:50%;
}
.d,.f{
    background:#E38F66;
    border: 20px solid #AA445F;
    bottom:50px;
}
.d{
    right:50px;
}
.f{
    right:250px;
}
.e{
    background:#AA445F;
    border:20px solid #E38F66;
    right:150px;
    bottom:150px;
}